.header-container{
    height: 55px;
    background-color:rgb(254, 248, 248) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(203, 203, 203);
    border-top:1px solid rgb(203, 203, 203) ;
    z-index: 100;
    margin-bottom: 20px;
}
.left-section{
    width: 150px;
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 25px;
    margin-left: 30px;
    cursor: pointer;
}
.youtube-logo{
    height: 20px;
    margin-left: 25px;
    cursor: pointer;
}
.middle-section{
    flex: 1;
    display: flex;
    margin-left:70px ;
    max-width: 500px;
}
.search-option{
    flex:1;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 215, 215);
    border-top-left-radius: 22px;
    border-bottom-left-radius:22px ;
    width: 10px;
    font-size: 16px;
    box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05) ;    
}
.search-bar-button{
    cursor: pointer;
    border: none;
    border: inset;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 215, 215);
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    margin-left: px;
    background-color:rgb(248, 248, 248) ;
}
.search-bar{ 
    height: 24px;
    padding:4px  14px;
    cursor: pointer;
    margin-top: 4px;
}
.search-option::placeholder{
    font-size:16px;
    padding-left: 10px ;
    font-family: roboto,arial;    
}
.hover-words{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.word{
    position: absolute ;
    font-size: 12px;
    background-color: rgb(135, 135, 135);
    padding: 4px 6px;
    color: rgb(255, 248, 248);
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
    white-space: nowrap;
}
.hover-words:hover .word{
    opacity: 1;
}
.voice-search-button{
    margin-left: 10px;
    cursor: pointer;
    border: none;
    padding: 3px 8px;
    border-radius:33px;
    background-color: rgb(248, 248, 248);
    margin-top: 4px;   
}
.voice-search{
    height: 23px;
    cursor: pointer;
    margin-top: 4px;    
}
.hover-word{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.words{
    position: absolute;
    white-space: nowrap;
    left: 0;
    background-color: rgb(144, 144, 144);
    padding: 4px 6px;
    color: white;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}
.hover-word:hover .words{
    opacity: 1;
}
.right-section{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: center;
    flex-shrink:0 ;  
}
.upload-icon{
    height: 24px;
    cursor: pointer;
    margin-top: 4px;
}
.youtube-apps{
    height: 24px;
    cursor: pointer;
    margin-top: 4px;
}
.notification-icon{
    height: 24px;
    cursor: pointer;
    margin-top: 4px;
}
.nfs{
    position: relative;
}
.nofification-number{
    position: absolute;
    background-color: rgb(202, 6, 6);
    color: white;
    left:14px;
    top:0 ;
    border-radius: 20px;
    font-size: 10px;
    padding: 2px 5px;
}
.profile-pic{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
    margin-right: 24px;   
}
