p{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    z-index: 0;
    margin-left: 5px;
    overflow: hidden;   
    padding:20px 20px ;
    background-color: rgb(254, 248, 248) ;
   
}
@media  (max-width:815px){
    .container {
         grid-template-columns: 1fr 1fr;

    }
}
@media (min-width: 1000px){
    .container {
         grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}
@media (min-width:816px) and (max-width:999px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.thumbnail-time-container{
    position: relative;
}
.video-picture{ 
   width: 100%;
   cursor: pointer;
   margin-bottom: 8px;  
}
.time-stamp{
    position:absolute;
    right: 8px;
    bottom: 18px;
    background-color: rgb(4, 4, 4);
    color: white;
    padding: 3px 5px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
}
.channel-title-container{
    display: flex;
}
.channel-picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.title{
    width: 270px;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.channel-cmark-container{
    display: flex;
    align-items: center;
}
.channel-name{
    color: rgb(58, 58, 58);
    font-size: 14px;
    margin-bottom: 2px;
    cursor: pointer;
}
.cmark-verify-container{
    display: flex;
    position: relative;
}
.check-mark{
    width: 12px;
    height: 12px;
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: 1px;
}
.verification-mark{
    position: absolute;
    background-color: gray;
    padding: 4px;
    color: beige;
    font-size: 13px;
    bottom:20px;
    opacity: 0;
    pointer-events: none;
}
.cmark-verify-container:hover .verification-mark{
    opacity: 1;
}
.views{
    color: rgb(91, 91, 91);
    font-size: 14px;
}
